<web-app>
....
<context-param> 
    <description>Location to store uploaded file</description> 
    <param-name>file-upload</param-name> 
            <param-value>
                     /usr/share/tomcat6/webapps/mygallery/image/
             </param-value> 
     </context-param>
....
</web-app>




